@model List<SoapProductionApp.Models.Warehouse.Unit>

<h2>Správa jednotek</h2>
<a href="@Url.Action("Create")" class="btn btn-success">Přidat novou jednotku</a>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unit in Model)
        {
            <tr>
                <td>@unit.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@unit.Id" class="btn btn-warning">Upravit</a>
                    <a asp-action="Delete" asp-route-id="@unit.Id" class="btn btn-danger">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>