@model SoapProductionApp.Models.ViewModels.BatchCreateViewModel

<h2>Edit Batch</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="WarehouseItemId" />
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Supplier</label>
        <input asp-for="Supplier" />
    </div>
    <div>
        <label>Purchase Date</label>
        <input asp-for="PurchaseDate" type="date" />
    </div>
    <div>
        <label>Expiration Date</label>
        <input asp-for="ExpirationDate" type="date" />
    </div>
    <div>
        <label>Package Quantity (@ViewBag.Unit)</label>
        <input asp-for="QuantityOfPackage" />
    </div>
    <div>
        <label>Package Price (without tax)</label>
        <input asp-for="PriceOfPackageWithoutTax" />
    </div>
    <div>
        <label>Tax Percentage</label>
        <input asp-for="TaxPercentage" />
    </div>
    <button type="submit">Save Changes</button>

    <a asp-action="Details" asp-controller="Warehouse" asp-route-id="@Model.WarehouseItemId" class="btn btn-secondary">Zpět</a>
</form>