html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo-img {
    height: 50px;
    width: auto;
}

.action-btn {
    font-size: 0.85rem; /* Stejná velikost jako Add Recipe */
    padding: 6px 10px; /* Upravíme padding pro menší vzhled */
    height: auto; /* Tlačítko se nebude přizpůsobovat */
    line-height: 1.2; /* Lepší vertikální zarovnání */
}

.menu-icon {
    width: 24px; /* Nastaví velikost ikony */
    height: 24px; /* Udržuje poměr */
    object-fit: contain; /* Zajistí správné vykreslení */
}