@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/Images/LetsCook.png" alt="Logo" class="logo-img me-2"> <!-- Obrázek -->
    
</div>

<style>
    .logo-img {
        height: 400px; /* Změnou této hodnoty upravíte velikost */
        width: auto;
    }
</style>
