@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/LetsCook.png" alt="Logo" class="main-img me-2"> <!-- Obrázek -->
    
</div>

<style>
    .main-img {
        height: 400px; /* Změnou této hodnoty upravíte velikost */
        width: auto;
    }

</style>
