@model SoapProductionApp.Models.Warehouse.Category

<h2>Přidat novou kategorii</h2>

<form method="post">
    <div class="form-group">
        <label>Název kategorie</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Uložit</button>
</form>